.div-greeting {
    width: 80%;
    margin-top: 10rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-right: .1rem solid #cccccc;
    position: fixed;
    top: 3.1rem;
    left: 0;
    width: 25%;
    height: 100%;
    transition: all 0.5s ease;
    padding-top: 1rem;
}

.sidebar p {
    text-align: center;
    margin-bottom: 1rem;
}

.section-main-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    /* border-right: .1rem solid #cccccc; */
    position: fixed;
    top: 3.1rem;
    right: 0;
    width: 74%;
    height: 100%;
    transition: all 0.5s ease;
    padding-top: 1rem;
}

.div-seach-users {
    width: 60%;
    height: 3rem;
}

.input-search-users {
    font-size: 1.2rem;
    border: .1rem solid #cccccc;
    background-color: #ffffff;
    border-radius: .2rem;
    height: 2.5rem;
    width: 80%;
    text-align: left;
    color: #007bff;
    padding: .1rem .5rem .1rem .5rem;
}

.input-search-users:focus {
    outline: none;
}

.div-text-message {
    width: 74.3%;
    height: 4rem;
    position: fixed;
    bottom: 2.5rem;
    border-top: .1rem solid #cccccc;
    padding-left: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.input-text-message {
    font-size: 1.2rem;
    border: .1rem solid #cccccc;
    background-color: #ffffff;
    border-radius: .2rem;
    height: 2.5rem;
    width: 80%;
    text-align: left;
    color: #007bff;
    padding: .1rem .8rem .1rem .8rem;
}

.input-text-message:focus {
    outline: none;
}