.div-admin-btn-group {
    margin: 0;
}

.btn-admin-action {
    margin-top: 2rem;
    height: 3rem;
    width: 12rem;
    background-color: #ffffff;
    border: .1rem solid #007bff;
    border-radius: .2rem;
    font-size: .8rem;
    color: #007bff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-admin-action:hover {
    background-color: #ffffff;
    border: .1rem solid #a5cbf3;
    color: #a5cbf3;
}

.btn-admin-action:active {
    background-color: #ffffff;
    border: .1rem solid #007bff;
    color: #007bff;
}

.table-users {
    margin-top: 1rem;
    width: 85%;
    border: .1rem solid #cccccc;
    font-size: 1rem;
    border-collapse: collapse;
}

.table-users td,
th {
    border: .1rem solid #cccccc;
    text-align: center;
    height: 1.5rem;
    vertical-align: middle;
    cursor: pointer;
}