.div-greeting {
    width: 80%;
    margin-top: 10rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-right: .1rem solid #cccccc;
    position: fixed;
    top: 3.1rem;
    left: 0;
    width: 20%;
    height: 90%;
    transition: all 0.5s ease;
    padding-top: 1rem;
    z-index: 100;
}

.div-user-avatar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-nickname {
    text-align: center;
    margin-bottom: 1rem;
}

.div-user-chats {
    overflow: hidden;
    overflow-y: auto;
    height: 85%;
    width: 90%;
    margin-bottom: 1rem;
}


.div-chat-user {
    margin: 1rem;
    border: .1rem solid #cccccc;
    border-radius: .2rem;
    padding: .5rem;
    color: #666666;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.div-chat-user-nickname {
    padding-left: .5rem;
}

.div-chat-user-active {
    border: .1rem solid #007bff;
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-left: .1rem solid #cccccc;
    position: fixed;
    top: 3.1rem;
    right: 0;
    width: 15%;
    height: 90%;
    transition: all 0.5s ease;
    padding-top: 1rem;
    z-index: 98;
}

.div-btn-right-group {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.btn-add {
    height: 2.5rem;
    width: 11rem;
    background-color: #ffffff;
    border: .1rem solid #007bff;
    border-radius: .2rem;
    font-size: .8rem;
    color: #007bff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #ffffff;
    border: .1rem solid #a5cbf3;
    color: #a5cbf3;
}

.btn-add:active {
    background-color: #ffffff;
    border: .1rem solid #007bff;
    color: hsl(211, 100%, 50%);
}

.btn-add:focus {
    border: .1rem solid #cccccc;
    outline: none;
}

.btn-add::focus-within {
    border: .1rem solid #007bff;
    outline: none;
}

.section-main-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    position: fixed;
    top: 5.2rem;
    left: 20%;
    width: 64.3%;
    height: 74.3%;
    transition: all 0.5s ease;
    overflow-y: auto;
    z-index: 99;
}

.div-list-users {
    margin: 1rem;
    width: 80%;
}

.div-user {
    margin: 1rem;
    border: .1rem solid #cccccc;
    border-radius: .2rem;
    padding: .5rem;
    color: #666666;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.div-user:hover {
    box-shadow: .1rem .1rem .7rem .1rem #cccccc;
}

.div-user:active {
    border: .1rem solid #007bff;
}

.div-user-nickname {
    padding-left: .5rem;
}

.ul-chat-user-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    min-width: max-content;
    height: auto;
    border: .1rem solid #cccccc;
    border-radius: .2rem;
    background-color: #ffffff;
    color: #666666;
    font-size: .8rem;
    list-style: none;
    box-shadow: .1rem .1rem .7rem .1rem #cccccc;
}

.ul-chat-user-menu li {
    padding: .5rem;
    cursor: pointer;
}

.ul-chat-user-menu li:hover {
    color: #007bff;
}

.section-message {
    width: 65%;
    height: 7.5rem;
    position: fixed;
    left: 20%;
    bottom: 2.5rem;
    background-color: #ffffff;
    border-top: .1rem solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 97;
}

.div-text-send-message {
    visibility: hidden;
    width: 65%;
    height: 7rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea-text-send-message {
    border: .1rem solid #cccccc;
    background-color: #ffffff;
    border-radius: .2rem;
    height: 3rem;
    width: 80%;
    text-align: left;
    color: #666666;
    padding: .3rem .8rem .3rem .8rem;
    resize: none;
    max-height: 6rem;
    font-size: 1rem;
    font-weight: 100;
    margin-top: .5rem;
}

.textarea-text-send-message:focus {
    outline: none;
}

.textarea-text-send-message::placeholder {
    font-size: .9rem;
    font-weight: 100;
}

.textarea-text-send-message:focus {
    border: .1rem solid #007bff;
}

.a-send-message {
    margin-top: .5rem;
    padding: .3rem;
}

.a-send-message:hover {
    border: .1rem solid #007bff;
    border-radius: .2rem;
    outline: none;
}

.a-send-message:focus {
    border: .1rem solid #cccccc;
    border-radius: .2rem;
    outline: none;
}

.a-send-message:focus-within {
    border: .1rem solid #007bff;
    outline: none;
}

.div-chat-user-without-notice {
    background-color: #eeeeee;
}

.div-chat-user-onchat {
    background-color: #cef1ff;
}

.div-chat-user-onmessage {
    background-color: #fcffce;
}

.div-user-messages {
    color: #666666;
    width: 80%;
}

.div-accept-message {
    color: #666666;
    border: .1rem solid #cccccc;
    /* border-radius: .2rem; */
    padding: .5rem;
    margin: 1rem 0 1rem 0;
    max-width: 70%;
    /* width: max-content; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: left;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    border-bottom-left-radius: .6rem;
    overflow-y: auto;
}

.div-send-message {
    color: #666666;
    border: .1rem solid #cccccc;
    /* border-radius: .2rem; */
    padding: .3rem;
    margin: 1rem 0 1rem 0;
    max-width: 70%;
    /* width: max-content; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: right;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

.div-text-message {
    margin: .2rem;
    text-align: left;
}

.div-datetime-message {
    margin: .4rem .2rem .2rem .2rem;
    text-align: right;
    font-size: .7rem;
}

.div-user-messages-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.span-chat-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.span-chat-close::after {
    content: '\2717';
    font-size: 1.5rem;
}

.span-chat-close:hover {
    color: #007bff;
}

.ul-message-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    min-width: max-content;
    height: auto;
    border: .1rem solid #cccccc;
    border-radius: .2rem;
    background-color: #ffffff;
    color: #666666;
    font-size: .8rem;
    list-style: none;
    box-shadow: .1rem .1rem .7rem .1rem #cccccc;
}

.ul-message-menu li {
    padding: .5rem;
    cursor: pointer;
}

.ul-message-menu li:hover {
    color: #007bff;
}

.div-message-active {
    border: .1rem solid #007bff;
    /* border: .1rem solid #009900; */
}

.div-info-message {
    text-align: right;
    font-size: .7rem;
    color: #007bff;
}

.ul-users-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    min-width: max-content;
    height: auto;
    border: .1rem solid #cccccc;
    border-radius: .2rem;
    background-color: #ffffff;
    color: #666666;
    font-size: .8rem;
    list-style: none;
    box-shadow: .1rem .1rem .7rem .1rem #cccccc;
}

.ul-users-menu li {
    padding: .5rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.ul-users-menu li:hover {
    color: #007bff;
}

.checkbox-forward-user {
    margin-left: 2rem;
}

.btn-forward-message {
    height: 1.5rem;
    width: 6rem;
    background-color: #ffffff;
    border: .1rem solid #007bff;
    border-radius: .2rem;
    font-size: .8rem;
    color: #007bff;
    text-transform: uppercase;
    cursor: pointer;
    margin: .3rem;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: .2rem 0 .4rem 0;
}

.btn-forward-message:hover {
    background-color: #ffffff;
    border: .1rem solid #a5cbf3;
    color: #a5cbf3;
}

.btn-forward-message:active {
    background-color: #ffffff;
    border: .1rem solid #007bff;
    color: #007bff;
}

.div-wrapper-create-group {
    width: 80%;
    display: flex;
    justify-content: center;
}

.div-create-group {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.div-create-group label {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.div-create-group-header {
    margin: 3rem 0 2rem 0;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.input-group-name {
    font-size: 1.2rem;
    border: .1rem solid #007bff;
    background-color: #ffffff;
    border-radius: .2rem;
    height: 2.5rem;
    width: 80%;
    text-align: center;
    color: #007bff;
    padding: .1rem .5rem .1rem .5rem;
    margin-bottom: 1.5rem;
}

.input-group-name:focus {
    outline: none;
    border: .1rem solid #cccccc;
}

.div-user-groups {
    overflow: hidden;
    overflow-y: auto;
    width: 90%;
    height: 45%;
    border-top: .1rem solid #cccccc;
}

.div-chat-group {
    margin: 1rem;
    border: .1rem solid #cccccc;
    border-radius: .2rem;
    padding: .5rem;
    color: #666666;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.div-chat-group-active {
    border: .1rem solid #007bff;
}

.ul-chat-group-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    min-width: max-content;
    height: auto;
    border: .1rem solid #cccccc;
    border-radius: .2rem;
    background-color: #ffffff;
    color: #666666;
    font-size: .8rem;
    list-style: none;
    box-shadow: .1rem .1rem .7rem .1rem #cccccc;
}

.ul-chat-group-menu li {
    padding: .5rem;
    cursor: pointer;
}

.ul-chat-group-menu li:hover {
    color: #007bff;
}

.groups-exist {
    height: 45%;
}

.div-chat-group-onchat {
    background-color: #dcffdc;
}

.div-delete-group-user {
    display: flex;
    justify-self: end;
    justify-content: end;
    width: 90%;
}

.span-delete-group-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.span-delete-group-user::after {
    content: '\2717';
    font-size: 1.5rem;
}

.span-delete-group-user:hover {
    color: #007bff;
}