.div-main-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: .1rem solid #007bff;
    border-radius: .2rem;
    background-color: #ffffff;
    width: 30rem;
    padding: 2rem 1rem;
}

.input-login {
    font-size: 1.3rem;
    border: .1rem solid #007bff;
    background-color: #ffffff;
    border-radius: .2rem;
    height: 3rem;
    width: 90%;
    text-align: center;
    color: #007bff;
}

.input-login:focus {
    outline: none;
}

.input-login::placeholder {
    color: #007bff;
    font-size: 1.1rem;
    font-weight: 100;
}

.div-input-checkbox {
    color: #007bff;
    text-transform: uppercase;
    font-size: .9rem;
}

.input-checkbox {
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
    appearance: none;
    border-radius: .2rem;
    outline: .1rem solid #007bff;
}
.input-checkbox:checked::after {
    /* background: #007bff; */
    content: "\2714";
    position: relative;
    top: -.4rem;
    left: .1rem;
    font-size: 1.4rem;
    color: #007bff;
}

.btn-signup {
    height: 2.3rem;
    width: 11rem;
    margin: .2rem;
    background-color: #ffffff;
    border: .1rem solid #007bff;
    border-radius: .2rem;
    font-size: .8rem;
    color: #007bff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-signup:hover {    
    background-color: #ffffff;
    border: .1rem solid #a5cbf3;
    color: #a5cbf3;
}

.btn-signup:active {
    background-color: #ffffff;
    border: .1rem solid #007bff;
    color: #007bff;
}

.wrong-pass{
    border: .1rem solid #ff0000;
}