.header {
    background-color: #ffffff;
    height: 3rem;
    width: 100%;
    /* border-bottom: .1rem solid #cccccc; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    position: sticky;
}

.div-header-title {
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: .1rem;
    color: #007bff;
    text-transform: uppercase;
}

.btn-login {
    height: 2.3rem;
    width: 10rem;
    background-color: #ffffff;
    border: .1rem solid #007bff;
    border-radius: .2rem;
    font-size: .8rem;
    color: #007bff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #ffffff;
    border: .1rem solid #a5cbf3;
    color: #a5cbf3;
}

.btn-login:active {
    background-color: #ffffff;
    border: .1rem solid #007bff;
    color: #007bff;
}