.div-greeting {
    width: 80%;
    margin-top: 10rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-right: .1rem solid #cccccc;
    position: fixed;
    top: 3.1rem;
    left: 0;
    width: 25%;
    height: 100%;
    transition: all 0.5s ease;
    padding-top: 1rem;
    z-index: 99;
}
.p-nickname {
    text-align: center;
    margin-bottom: 1rem;
}

.btn-add-user {
    height: 2.3rem;
    width: 11rem;
    margin: .2rem;
    background-color: #ffffff;
    border: .1rem solid #007bff;
    border-radius: .2rem;
    font-size: .8rem;
    color: #007bff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-add-user:hover {    
    background-color: #ffffff;
    border: .1rem solid #a5cbf3;
    color: #a5cbf3;
}

.btn-add-user:active {
    background-color: #ffffff;
    border: .1rem solid #007bff;
    color: #007bff;
}

.section-main-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    position: fixed;
    top: 3.1rem;
    right: 0;
    width: 74%;
    height: 100%;
    transition: all 0.5s ease;
    padding-top: 1rem;
}

.div-seach-users {
    width: 60%;
    height: 3rem;
}

.input-search-users {
    font-size: 1.2rem;
    border: .1rem solid #cccccc;
    background-color: #ffffff;
    border-radius: .2rem;
    height: 2.5rem;
    width: 80%;
    text-align: left;
    color: #666666;
    padding: .1rem .5rem .1rem .5rem;
}

.input-search-users:focus {
    outline: none;
}

.div-list-users {
    margin: 2rem;
    width: 80%;
}

.div-user {
    margin: 1rem;
    border: .1rem solid #cccccc;
    border-radius: .2rem;
    padding: .5rem;
    color: #666666;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.div-user-nickname {
    padding-left: .5rem;
}

.div-user-chats {
    width: 90%;
}

.div-chat-user {
    margin: 1rem;
    border: .1rem solid #cccccc;
    border-radius: .2rem;
    padding: .5rem;
    color: #666666;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.div-chat-user-nickname {
    padding-left: .5rem;
}

.div-text-message {
    width: 74.3%;
    height: 7rem;
    position: fixed;
    bottom: 2.5rem;
    border-top: .1rem solid #cccccc;
    padding-left: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.textarea-text-message {

    border: .1rem solid #cccccc;
    background-color: #ffffff;
    border-radius: .2rem;
    height: 3rem;
    width: 80%;
    text-align: left;
    color: #666666;
    padding: .3rem .8rem .3rem .8rem;
    resize: none;
    max-height: 6rem;
    font-size: 1rem;
    font-weight: 100;
    margin-top: .5rem;
}

.textarea-text-message:focus {
    outline: none;
}

.textarea-text-message::placeholder {
    font-size: .9rem;
}